
<div class="container"></div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url("background.png")%>);">
  <div class="container">
    <h1>Get inspired <strong>by the big variety</strong> of cocktails!</h1>
    <p>Join the biggest community of cocktail lovers!</p>
    <%= link_to "Invent your cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary btn-flat" %>
  </div>
</div>


<div class="cards">
<% @cocktails.each do |cocktail|  %> 
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_url("cocktail4.png")%>);">
      
  <h1><%= cocktail.name %></h1>
  <p><%= link_to "See details", cocktails_path %></p>

<% end %>
</div>






